#R{
    margin-right: 10px;
  
  }
  #image{
    margin-right: 313px;
  }
  #loginR {
    margin-left:348px;
    margin-top: -40px;
      }
  #userId{
   margin-top: 10px;
  }
  #userPw{
      margin-top: 7px;
  }
  
  #register{
      margin-top: 7px;	
      margin-right: 10px;
  }
  body{
      font-family: "Noto Sans KR";
  }
  .container-fluid{
      width: 30%;
      margin-top: 30px;
  }
  .row{
      border: 4px solid lightgray;
       padding: 10px;
  }
  .join{
      text-align: center;
  }
  .title{
   text-align: center;
   margin-top: 160px
  }
  #image {
    width:50px;
    height:50px;
    margin-top:10px;
    
  }