<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PalDDackReview</display-name>
  	<filter>
  	<filter-name>MyCharacterEncoding</filter-name>
  	<filter-class>kr.or.ddit.utill.filter.MyCharacterEncoding</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>MyCharacterEncoding</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
</web-app>